.env
.github/agents/system-monitor.agent.md
collector/__pycache__/metrics.cpython-313.pyc
*.pyc
monitor.db
monitor.db
.github/agents/devops-infra.agent.md
.gitignore
**/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
*.tfstate
*.tfstate.*
alertmanager/discord_webhook.txt
